 .navbar-brand img{
      width: 13rem;
      margin-left: -3rem;
      margin-top: -2rem;
  }
  .no{
     margin: 2rem;
     
  }
  .nav-link{
      font-size: large;
      font-weight: 700;
      color: black!important;
  }
  .body{
      margin-left: 3rem;
  }
 .btn1{
     margin-right: 1rem;
 }
  .card:hover{

  border: none!important;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);

  
  }
  